p{
    background-color: antiquewhite;
    font-size: 15px;
    border: 10px ridge red;
    padding: 50px;
    margin-top:70px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin: 10px 20px 30px 40px;
}
