*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mukta", sans-serif';
}
.conatiner{
    width:100%;
    height:100vh;
    background-color: white;
    position: relative; /* ini ethouru element vannalu ithin relate cheythitt venm bhakki okke veran vndeettt.. So that position : relateive is used */
}
.navbar{
    display: flex; /*which makes its child elements (.item elements) align side by side.*/
    justify-content: space-between; /* ensures that there is space between the two items, pushing them to the far ends of the container.*/
    width: 85%;
    margin-left: 100px;
    align-items: center; /* oru div nte exact aayit vertical center verum */
}
#logo{
    width: 130px;
    margin-top: 20px;
    /*align-items: center;*/
}
.listitem{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.links{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/* tag pseudo calss{property:value} */
.links:hover{
    color:red;
}